* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.site-header {
  background-color:  #1F2B30;
  text-align: center;
}

.navbar {
  border-top: solid #2c3144 ;
  border-width: 1px;
  display: flex;
  justify-content: center;
  gap: 120px;

}

.link {
  
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Merriweather', serif;

}

.logo-texto {
  height: auto;
 width:400px;
}

.section-sobre {
  background-color: #1b1c21;
  color: #F5F5DC;
  padding: 60px 20px;
  max-width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: #1b1c21;
}

.section-sobre h2 {
  color: #C9A038;
  font-size: 3em;
  font-family: 'Merriweather', serif;

}

.section-sobre p {
  color: #F5F5DC;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin: 0 300px 0 300px;

}

.section-sobre img {
  height: 50vh;
}

footer {
  background: #12191C;
  color: #FAFAFA;
  text-align: center;
  padding: 20px;
}

@media (max-width: 1200px) {

  .site-header {
    background-color: #1F2B30;
  }

  .navbar {
    border-width: 1.5px;
    display: flex;
    justify-content: center;
    gap: 30px;

  }

  .link {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;

  }

  .link:hover {
    color: #f9c700;
  }

  .logo-texto {
    height: auto;
    width: 300px;
  }


  .section-sobre {
    background-color: #1b1c21;
    color: #F5F5DC;
    padding: 60px 20px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: #1b1c21;
    font-size: 15px;
  }

  .section-sobre img {
    width: 350px;
  }

  .section-sobre p {
    color: #F5F5DC;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;

  }

  footer {
    background: #222;
    color: white;
    text-align: center;

  }

  .section-sobre img {
    height: auto;
    width: 40vh ;
  }




}