/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #21373d;
  margin: 0;
  padding: 0;
  width: 100%;
}

.body-sobre {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1b1c21;

}


.site-header {
  background-color:  #1F2B30;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 80px;

}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Merriweather', serif;

}

.logo-texto {
  height: auto;
 width:400px;
}

.imagem-logo {
  width: 100%;
  max-height: 600px;
  /* ou outro valor que preferir */
  object-fit: contain;

}

/* Sections */
.section {
  color: #F5F5DC;
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.section-card {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}






.section h2 {
  color: #C9A038;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}
.section p {
  font-family: 'Libre Baskerville', serif;
  color: #FAFAFA;
}

/* Cards */
.cards {
  font-family: 'Merriweather', serif;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  margin-top: 20px;
  background: #FAFAFA;
  flex: 1;
  padding: 20px;
  border-radius: 4px;
  min-width: 200px;
}
.card p {
  font-family: 'Libre Baskerville', serif;
}

.card-baixo {
  text-align: center;
  margin-top: 20px;
  background: #f4f4f4;
  flex: 1;
  padding: 20px;
  border-radius: 4px;
  width: 100px;
}

/* Notícias */
.news-item {
  background: #e9ecef;
  padding: 20px;
  border-radius: 4px;
}

.news-item a {
  color: #004080;
  text-decoration: none;
}

/* Contato */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background: #004080;
  color: white;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  background: #12191C;
  color: #FAFAFA;
  text-align: center;
  padding: 20px;
}

/* Responsividade */
@media (max-width: 900px) {
  .site-header {
    background-color: #1F2B30;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 10px;

  }

  .link {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;

  }

  .link:hover {
    color: #f9c700;
  }
  .logo-texto {
  height: auto;
 width:300px;
}


  .section {
    text-align: center;
    color: #F5F5DC;
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
  }

  .section-card {
    text-align: center;
  }

}